*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::root{
  --cyan:hsl(171, 66%, 44%);
  --lightBlue:hsl(233, 100%, 69%);
  --DarkGray:hsl(210, 10%, 33%);
  --lightGray:hsl(201, 11%, 66%);
}
body{
  font-family: 'Bai Jamjuree', sans-serif;
}

/* ****************** */
/* Reuseable Classes */
/* ****************** */
.align-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
.heading-primary,
.hero-description,
.track-heading,
.track-description,
.access-heading,
.access-description,
.supercharge-heading,
.supercharge-description,
.cp-heading,
.cp-description{
  text-align: center;
}
.grid-2{
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
/* .grid3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */
.display-flex {
  display: flex;
  gap: 17rem;
}
.img{
  width: 100%;
}

/* ****************** */
/* Hero Section */
/* ****************** */
#hero-section{
  background-image: url("../images/bg-header-desktop.png");
  padding: 2rem 0 0 0;
}
.logo{
  color:hsl(171, 66%, 44%);
  text-align: center;
  font-size: 7rem;
}
.heading-primary{
  font-size: 1.8rem;
  color: hsl(210, 10%, 33%);
  margin-bottom: 1rem;
}
.hero-description{
  color: hsl(201, 11%, 66%);
  line-height: 1.6;
}
.btn-box{
  gap: 1rem;
  margin-top: 2rem;
}
.btn{
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
.btn-primary{
  color: #fff;
  background-color: hsl(171, 66%, 44%);
  box-shadow:  hsl(171, 66%, 44%) 0px 3px 8px;
  border-bottom: 2px solid hsl(171, 67%, 34%);
}
.btn-secondary{
  color: #fff;
  background-color: hsl(233, 100%, 69%);
  border-bottom: 2px solid hsl(233, 62%, 57%);
}

/* ****************** */
/* KeepTrack Section */
/* ****************** */
#keep-track-section{
  padding: 7rem 0;
}
.img-box{
  position: relative;
  left: -30px;
  z-index: -1;
}

.text-box{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.track-heading{
  font-size: 1.8rem;
  color: hsl(210, 10%, 33%);
}
.track-description{
  font-size: 1.2rem;
  color: hsl(201, 11%, 66%);
  margin: 1rem 0 5rem 0;
  line-height: 1.5;
}
.subheading{
  font-size: 1.4rem;
  color: hsl(210, 10%, 33%);
  margin-top: 1rem;
}

.description{
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  margin-top: 1rem;
}
/* ****************** */
/* AccessClipboard Section */
/* ****************** */
.access-heading{
  font-size: 1.8rem;
  color: hsl(210, 10%, 33%);
}
.access-description{
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  margin: 1rem 0 4rem 0;
}
#access-section .img{
  width: 50%;
}
/* ****************** */
/* SuperCharge Section */
/* ****************** */
.supercharge-heading,
.heading{
  font-size: 1.8rem;
  color: hsl(210, 10%, 33%);
}
.supercharge-description,
.info-box p{
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
}
.supercharge-heading,
.supercharge-description{
  margin-bottom: 1rem;
}
.supercharge-description{
  margin-bottom: 5rem;
}
.flex{
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 3rem;
}
.info-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading{
  font-size: 1.4rem;
  margin-top: 2rem;
}
.info-box p{
  line-height: 2.2;
  margin-top: 1rem;
}
.feature-side{
  margin-top: 8rem;
  gap: 5rem;
}
/* ****************** */
/* ClipBoard Section */
/* ****************** */
#clipboard-section{
  padding: 7rem 0;
}
.cp-heading{
  font-size: 1.8rem;
  color: hsl(210, 10%, 33%);
}
.cp-description{
  font-size: 1rem;
  margin-top: 1rem;
  color: hsl(201, 11%, 66%);
  line-height: 1.5;
}
/* ****************** */
/* Footer */
/* ****************** */
footer{
  padding: 5rem 0 2rem 0;
  background-color: #f1f3f5;
  max-width: 1440px;
  margin: 0 auto;
}
footer ul li{
  list-style: none;
}
footer ul li a{
  text-decoration: none;
}
.d-flex{
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
}
.link{
  cursor: pointer;
  color: hsl(201, 11%, 66%);
}
.link:hover{
  color: hsl(171, 66%, 44%);
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.social-icons {
  margin-left: 8rem;
  display: flex;
  gap: 2rem;
  margin-right: 5rem;
}
.footer-logo {
  margin: auto auto 4rem 4rem;
}
/* ****************** */
/* Animation */
/* ****************** */
@keyframes revealText{
  from{
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: none;
  }
}
.title-content{
  display: block;
  opacity: 0;
  animation: revealText .5s forwards;
}
.title-second{
  animation-delay: .175s;
}
.title-third{
  animation-delay: .25s;
}
.title-fourth{
  animation-delay: .325s;
}